body {
    font-family: Helvetica;
}

#banner,
#stopka {
    background-color: #00838F;
    color: white;
    padding: 5px;
    font-size: 130%;
    text-align: center;
}

#lewy1,
#lewy2 {
    background-color: #EFEFEF;
    width: 55%;
    float: right;
}

#lewy1 {
    height: 150px;
}

#lewy2 {
    height: 300px;
}

#prawy {
    background-color: #4FB3BF;
    height: 450px;
    width: 45%;
    text-align: center;
    float: right;
}

img {
    box-shadow: 10px 10px 7px dimgray;
    margin: 20px;
}

table,
th,
td {
    border: 1px solid #4FB3BF;
    border-collapse: collapse;
}

table {
    margin: auto;
    width: 80%;
}

tr {
    padding: 4px;
}

tr:hover {
    background-color: #4FB3BF;
}

#stopka {
    clear: both;
}